#feature {
    background: #f2f2f2;
    padding-bottom: 40px;
}
.feature-wrap {
    padding-bottom: 55px;
    /* overflow: hidden; */
  }
  
  .feature-wrap h2{
    margin-top: 10px;
    font-size: 20px;
  }
  
  .feature-wrap h3{
    font-size: 16px;
    color: #787878;
    font-weight: 400;
    line-height: 24px;
  }
  .feature-wrap i{
    font-size: 48px;
    height: 110px;
    width: 110px;
    margin: 3px;
    border-radius: 100%;
    line-height: 110px;
    text-align:center;
    background: #ffffff;
    color: #E8CE0E;
    border: 3px solid #ffffff;
    box-shadow: inset 0 0 0 5px #f2f2f2;
    float: left;
    margin-right: 25px;
  }

  /******************* Accordion Demo - 3 *****************/
#accordion3{
  padding-left: 80px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
#accordion3:before{
  content: "";
  width: 5px;
  height: 100%;
  background: #004e89;
  position: absolute;
  top: 0;
  left: 22px;
  z-index: -1;
}
#accordion3 .panel-title a{
  display: block;
  padding: 10px 30px 15px 0;
  background: #fff;
  font-size: 18px;
  font-weight: 500;
  color: #004e89;
  position: relative;
  transition: all 0.5s ease 0s;
  box-shadow: 0 1px 2px rgba(43,59,93,0.30);
}
#accordion3 .panel-title a:before{
  content: "\f068";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 50px;
  height: 50px;
  line-height: 40px;
  border-radius: 50%;
  background: #cad5c2;
  text-align: center;
  font-size: 17px;
  color: #004e89;
  border: 6px solid #004e89;
  position: absolute;
  top: 0;
  left: -80px;
}
#accordion3 .panel-title a.collapsed:before{
  content: "\f067";
  background: #fff;
}
#accordion3 .panel-body{
  padding: 0px 15px;
  background: #eee;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) inset, 0 1px 2px rgba(255, 255, 255, 0.9);
  font-size: 14px;
  color: #487677;
  line-height: 25px;
}

/* Servicess css starts here */
#services {
  background: #000 url(../images/services/bg_services.jpg);
  /* background: #000; */
  background-size: cover;
  /* margin-top:70px; */
}
#services .lead,
#services h2{
  color: #fff;
}
.services-wrap {
  padding: 40px 30px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 20px;
  margin: 10px 0;
}
/* Servicess css ends here */

/* Blog css starts here */

.blog-item {
  /* border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px; */
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 20px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 25px;
}

.readmore{
  margin-top: 0;
}






